#hudRoot {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    -unity-font-definition: url("project://database/Assets/Fonts/SuseongHyejeong.ttf?fileID=12800000&guid=78482f790748c2b4a870af3f386b2fe0&type=3#SuseongHyejeong");
}

#gameInfo {
    position: absolute;
    left: 200px;
    top: 0;
}

#inventory {
    position: absolute;
    right: 30px;
    top: 340px;
}

#playerList {
    position: absolute;
    right: 30px;
    top: 10px;
}

#playerStatus {
    position: absolute;
    left: 20px;
    top: 0;
}

#quickChat {
    position: absolute;
    right: 30px;
    top: 200px;
}

#notificationBanner {
    position: absolute;
    left: 0;
    right: 0;
    top: 3%;
}

#healthBar {
    position: absolute;
    left: 7px;
    bottom: 12px;
}

#interactionUI {
    position: absolute;
    left: 50%;
    translate: -50% 0;
    bottom: 8px;
    width: auto;
}

#mobileControls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#chestBoxUI {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}